@charset "UTF-8";
@import url(css/fontello.css);
@import url(css/fontello-codes.css);
@import url(css/fontello-embedded.css);
@import url(css/fontello-ie7.css);
@import url(css/fontello-ie7-codes.css);
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* Background pattern from Toptal Subtle Patterns */
body {
  background-color: #f4f4f4;
  font-family: 'News Cycle', sans-serif;
  color: #4d0538; }

i {
  font-family: 'Dancing Script', cursive; }

a {
  text-decoration: none; }

.rozwin-akapit {
  text-decoration: underline;
  color: hotpink; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?72635523");
  src: url("../font/fontello.eot?72635523#iefix") format("embedded-opentype"), url("../font/fontello.woff2?72635523") format("woff2"), url("../font/fontello.woff?72635523") format("woff"), url("../font/fontello.ttf?72635523") format("truetype"), url("../font/fontello.svg?72635523#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?72635523#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mobile:before {
  content: '\e800'; }

/* '' */
.icon-mail-alt:before {
  content: '\f0e0'; }

/* '' */
#about {
  display: block;
  position: absolute;
  border-radius: 50%;
  height: 400px;
  width: 320px;
  margin-top: -200px;
  margin-left: 4vw; }

header {
  position: relative;
  z-index: 1;
  opacity: 0.8;
  top: 0px;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  header h1 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    align-self: end; }
  header a {
    color: #4d0538; }
  header a:visited {
    color: #4d0538; }
  header a:hover {
    color: gray; }

nav {
  align-self: end;
  font-size: 1.2em;
  padding: 20px; }
  nav ul {
    list-style: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      border-left: 1px solid black;
      padding-left: 10px;
      padding-right: 10px; }
    nav ul li:first-child {
      border-left: none; }

.top-brd {
  background-image: url("../img/oliwia.png");
  background-size: cover;
  width: 100%;
  height: 40vh; }

.about-brd {
  margin-top: 2em;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.middle-brd {
  background-image: url("../img/business.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: whitesmoke; }
  .middle-brd ul {
    font-size: 1.5em;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
    .middle-brd ul li {
      margin-top: 0.5em;
      display: list-item;
      list-style-type: circle;
      margin-left: 1em; }

.contact-brd {
  margin-top: 1em;
  background-size: cover;
  height: 60vh;
  width: 100%;
  position: relative; }

h2 {
  text-align: center;
  font-size: 3em;
  padding: 20px; }

h3 {
  text-align: center;
  font-size: 2em;
  padding: 10px; }

P {
  max-width: 800px;
  text-align: justify;
  font-size: 1.5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto; }

article {
  color: #4d0538;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50vw;
  margin-left: auto;
  margin-right: auto; }
  article .article-img {
    height: auto;
    width: 100%;
    border-radius: 10px; }
  article .article-title {
    padding: 10px;
    font-size: 2em;
    text-align: center; }
  article .article-description {
    padding: 10px;
    font-size: 1.2em;
    text-align: justify; }

/*# sourceMappingURL=main.css.map */
