nav {
    align-self: end;
    font-size: 1.2em;
    padding:20px;
    ul {
        list-style: none;
        text-align: center; 
        li {
            display: inline-block;
            border-left: 1px solid black;
            padding-left: 10px;
            padding-right: 10px;
        }
        li:first-child {
            border-left: none;
        }
    }
}