body {
    font-family: 'Unna', serif;
    color: #392d94;
}

h4 {
    font-size: 2em;
}

a {
    color: #ee81c8;
}

a:hover {
    color: #6c58b0;
}

#heading-background {
    -webkit-box-shadow: 8px 7px 12px 4px rgba(0,0,0,0.41); 
    box-shadow: 8px 7px 12px 4px rgba(0,0,0,0.41);
}

#logo {
    max-height: 7em;
    max-width: auto;
    margin-top: 3em;
}


.navbar {
    font-size: 2.25em;
}


.nav-item {
    margin-left:auto;
    margin-right:auto;
    color: #392d94 !important;
}

.oferta-lista {
    background-image: url(img/sygnet.svg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-color: #392d94;
    color: white;
    font-size: 20px;
    padding: 40px;
}


.oferta-carouse {
    background-size: 100px 100px;
    background-color: #392d94;
    color: white;
    font-size: 20px;
    width: 100vw;
    
}

.oferta-carouse img {
    height: 300px;
    padding: 70px; 
}

.oferta-carouse p {
    font-size: 20px;
    margin-top: -150px;
}

.bigger-font {
    font-size: 1.5em;
}

.arrows {
    height: 70px;
    width: 100%;
    margin-top: 0.5em;
}

#portfolio-first {
    order: 3;
}

#portfolio-second {
    order: 1;
}

#portfolio-third {
    order: 2;
    
}

#portfolio-forth {
    order: 4;
}

.no-decoration a {
    color: #392d94;
}

.bottom-nav {
    margin: 1em;
    font-size: 1.5em;
}

.social-media {
    width: 50px;
    margin: 20px;
}

.footer {
    background-color: #392d94;
    color: white;
    padding: 2em;
    font-size: 1.5em;
}

.logo-poziome {
    width: 90%;
}

@media only screen and (min-width: 992px) {
    #heading-container {
        margin-bottom: -200px;
    }
    #heading {
        position: relative;
        width: 500px;
        margin-left: 50px;
        background-color: white;
        z-index: 2;
    }
    #heading-background {
        position: relative;
        width: 70%;
        height: auto;
        left: 200px;
        bottom: 250px;
        z-index: 1;
    }
    .portfolio-title {
    background-color: white;
    position: relative;
    z-index: 2;
    height: 100%;
    left: 50px;
}

.portfolio-picture {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    right: 50px;
    width: 70%;
    height: auto;
}

.portfolio-picture img {
    width: 100%;
    height: 100%;
}
 .arrows {
    height: 50px;
    margin-top: 200px;
    
}
    #portfolio-first {
    order: 1;
}

#portfolio-second {
    order: 2;
}

#portfolio-third {
    order: 3;
}

#portfolio-forth {
    order: 4;
}
    .blog-section {
        width: 75%;
    }
    
    .logo-poziome {
        width: 50%;
    }
}

/*
fonty:
- menu 36 pkt / 2.25 rem
- slider 48 pkt
- h2 36 pkt
- oferta 24 pkt
- stopka 20 pkt
- inne 30 pkt
*/
