body {
    font-family: 'Unna', serif;
    color: #392d94;
    background-color: #f8f9f8;
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 1366px;
}


h3 a {
    color: #392d94;
}

h3:hover a {
    color: #392d94;
}

h4 {
    font-size: 2em;
}

a {
    color: #ee81c8;
}

a:hover,
.nav-item:hover {
    color: #6c58b0;
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(57, 45, 148, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.slideIn {
    animation: slide-in 1.5s;
}

#heading {
    animation-name: slide-in;
    animation-duration: 1s;
    width: 100%;
}

#heading-background {
    animation: slide-in 1.5s;
}

#heading-background img {
    min-height: 200px;
    object-fit: none;
    object-position: 70% 50%;
}

#logo {
    max-height: 7em;
    max-width: auto;
    margin-top: 3em;
    animation-name: slide-in;
    animation-duration: 2s;
}


.navbar {
    font-size: 1.5em;
    background-color: #f8f9f8;
}

.nav-item:nth-child(1) {
    animation-name: slide-in;
    animation-duration: 1s;
}

.nav-item:nth-child(2) {
    animation-name: slide-in;
    animation-duration: 2s;
}

.nav-item:nth-child(3) {
    animation-name: slide-in;
    animation-duration: 3s;
}

.nav-item:nth-child(4) {
    animation-name: slide-in;
    animation-duration: 3s;
}

.nav-item:nth-child(5) {
    animation-name: slide-in;
    animation-duration: 3s;
}


.nav-item {
    margin-left: auto;
    margin-right: auto;
    color: #392d94 !important;
}

#carousel-heading {
    animation-name: slide-in;
    animation-duration: 3.5s;
}


#portfolioMainPicture {
    width: 100%;
    }
    
    .portfolio-subContainer{
        padding: 20px;
    }

    #portfolioMainText {
        font-size: 1.5em;
        padding: 20px;
    }

    #portfolioSecondText {
        font-size: 1.2em;
    }

    .arrows {
        height: 20px;
        float: right;
    }

.carousel-caption {
    font-size: 1px;
}

.oferta-carouse {
    background-size: 100px 100px;
    background-color: #392d94;
    color: white;
    font-size: 20px;
    width: 100vw;

}



.oferta-carouse img {
    height: 300px;
    padding: 70px;
}

.oferta-carouse p {
    font-size: 20px;
    margin-top: -150px;
}

.offer-slide-animation {
    animation: offer-animation 4s infinite linear;
}

.offer-arrow {
    height: 70px;
    width: 100%;
    margin-top: 70px;
}

.offer-container {
    min-height: 300px;
}

.offer-sygnet img {
    width: 7%;
    margin-top: 2em;
}

.bigger-font {
    font-size: 1.5em;
}

.no-decoration a {
    color: #392d94;
}


.bottom-nav {
    transition: all 0.5s;
    font-size: 1.5em;
}

.bottom-nav:hover {
    transform: scale(1.2, 1.2);
}

.social-media {
    width: 50px;
    margin: 20px;
    fill: #ee81c8;
    margin-top: 0;
}

.social-media:hover {
    fill: #392d94;
}

.footer {
    background-color: #392d94;
    color: white;
    padding: 1em;
    letter-spacing: 1px;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #ee81c8;
}

.logo-poziome {
    width: 90%;
}

.dolne-logo-container {
    font-size: 1.1em;
}

.dolne-logo {
    margin-top: 70px;
    margin-bottom: 70px;
}

.appear {
    transition: opacity 1s;
}

.appear-mobile {
    transition: opacity 1s;
}

.blog-section {
    transition: opacity 1s;
    overflow: hidden;
    position: relative;
}

.blog-item {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.blog-item img {
    transition: all 0.6s ease-out;
    position: relative;

}

.blog-item:hover img {
    transform: scale(1.6, 1.6);

}

/*
.
.
Aboue Me
.
.
*/


.aboutme-card {
    font-size: 1.8em;
    height: 200px;
}

.aboutme-picture {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.aboutme-picture img {
    height: auto;
    width: 100%;
}


/*
.
.
Blog
.
.
*/



@media only screen and (min-width: 992px) {
    #heading-container {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .navbar {
        font-size: 2.25em;
        background-color: #f8f9f8;
    }

    #heading {
        position: absolute;
        width: 400px;
        margin-left: 15vw;
        margin-top: -20px;
        background-color: white;
        z-index: 2;
    }

    #heading-background {
        max-width: 100%;
    }
    

    .blog-section {
        width: 75%;
    }

    .logo-poziome {
        width: 50%;
    }

    .carousel {
        margin-bottom: 150px;
        min-height: 300px;
    }

    .container-slider {
        position: relative;
    }


    #portfolioMainPicture {
        width: 50%;
        height: 100%;
    }

    #portfolioSecondPicture {
        width: 25%;
        height: 25%;
        position: absolute;
        top: 0;
        right: 7%;
    }
    
    .portfolio-subContainer{
        position: absolute;
        right: 7%;
        bottom: 0;
        max-width: 250px;

    }

    #portfolioMainText {
        font-size: 2em;
        position: absolute;
        width: 400px;
        height: 250px;
        top: 50%;
        left: 50%;
        margin-top: -125px;
        margin-left: -200px;
        z-index: 1;
        background-color: white;
        text-align: center;
        padding: 40px;
    }

    #portfolioSecondText {
        font-size: 1.7em;
        max-width: 190px;
    }
    
    .arrows{
        position: absolute;
        right: 0;
        top: 40%;
    }
    
    
    .dolne-logo-container {
    margin-bottom: 200px;
}
    /*
.
.
Aboue Me
.
.
*/
    .container-aboutme {
    height: 600px;
    position: relative;
}
    
    .aboutme-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
    .aboutme-card {
    position: absolute;
        width: 400px;
        height: 250px;
        top: 20%;
        left: 50%;
        margin-top: -125px;
        margin-left: -200px;
        z-index: 1;
        background-color: white;
        text-align: center;
        padding: 40px;
        font-size: 1.8em;
}
    .aboutme-picture {
    position: absolute;
    bottom: 0;
}

.aboutme-picture img {
    height: 80%;
    width: 100%;
}
}

@keyframes slide-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Offer Slider*/
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .carousel-item {
        margin-right: auto !important;
    }

}

.carousel-item {
    font-size: 23px;
    text-align: center;
}

/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

#profile-grid .profile {
    padding-bottom: 40px;
}

#profile-grid .panel {
    padding: 0
}

#profile-grid .panel-body {
    padding: 15px
}

#profile-grid .profile-name {
    font-weight: bold;
}

#profile-grid .thumbnail {
    margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
    overflow: hidden;
}

#profile-grid .img-rounded {
    border-radius: 4px 4px 0 0;
}

/*
fonty:
- menu 36 pkt / 2.25 rem
- slider 48 pkt
- h2 36 pkt
- oferta 24 pkt
- stopka 20 pkt
- inne 30 pkt
*/