
#about {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 22vw;
    margin-top: -150px;
    margin-left: 4vw;
}

@media screen and (max-width: 800px) {
    #about {
        position: static;
        margin: auto;
        width: 50vw;
    }
}